
.contentMargin{
    margin:20px 40px;
    margin-top: 70px;
}
.padding5{
    padding:7px;
}
.contentBox{
    padding: 20px 40px;
}
.valignstyle{
    vertical-align: middle;
}
.img-media{
    height:80px;
    width:80px;
}
.userTableData{
    padding-right: 40px;
    padding-top: 3px;
}
.tableDataWidth{
    padding-right: 20px;
}
.tableData{
    padding-top: 7px;
}
.inboxLinkStyle{
    margin-left: 10px;
}
#captcha{
    max-height:100px;
    max-width:150px;
}
.topBar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#editProfile td{
    width: 50%;
    padding:7px 30px;
}
.pagination a, span{
    margin: 0px 10px;
}
.report{
    padding: 5px;
    display: none;
    text-align: center;
}